.gallery{
    padding:60px 20px;
    text-align:center;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.card{
    width:280px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    margin:15px 0 5px;
}

.card p{
    color:#d63384;
    font-size:20px;
    margin-bottom:20px;
    font-weight:bold;
}*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#fff5f8;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#d63384;
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:40px;
    color:#d63384;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

button{
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:8px;
    background:#d63384;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#b8256f;
}
